<template>
  <div class="dropdown-divider" />
</template>

<script>
import {ref, toRefs} from 'vue';

export default {
    name: 'DropdownDivider',
    props: {
    },
    setup(props) {

        return {
        };
    },
    computed: {
    },
    mounted() {
    },
};
</script>

<style scoped>

</style>