<template>
  <strong class="dropdown-header">
    <slot />
  </strong>
</template>

<script>
import {ref, toRefs} from 'vue';

export default {
    name: 'DropdownHeader',
    props: {},
    setup(props) {

        return {};
    },
    computed: {},
    mounted() {
    },
};
</script>

<style scoped>

</style>